<h2>Book detail</h2>

<table class='table'>
  <tr>
    <td></td>
    <td><%= link_to @book.title, @book %></td>
    <td><%= @book.opinion %></td>
    <td>
      <!--TODO: edit button-->
    </td>
    <td>
      <!--TODO: destroy button-->
    </td>
  </tr>
</table>
